Temp/
obj/
Build
Library/
*.log
Library/metadata/00/00000000000000009000000000000000
Library/metadata/00/00000000000000009000000000000000
Library/shadercompiler-UnityShaderCompiler.exe0.log
Temp/UnityLockfile
Library/assetDatabase3
Library/shadercompiler-UnityShaderCompiler.exe0.log
*.log
